<label>
    <span class="customize-control-title">{{data.label}}</span>
</label>
<div>
    <input type="hidden" name="store" value="{{data.value}}" {{data.link}} />
    <a href="#" class="button-secondary upload">
        {{data.l10n.upload_button_label}}
    </a>
    <a href="#" class="button-secondary remove">
        {{data.l10n.remove_all_button_label}}
    </a>
</div>
<div class="customize-control-content">
    <ul class="thumbnails">
    </ul>
</div>
