<label>
    <span class="customize-control-title">{{data.label}}</span>
</label>
<div>
    <a href="#" class="button-secondary upload" id="mic-upload-button">
        {{data.l10n.upload_button_label}}
    </a>
    <a href="#" class="button-secondary remove" id="mic-remove-button">
        {{data.l10n.remove_all_button_label}}
    </a>
</div>
<div>
    <ul class="thumbnails" id="mic-thumbnails">
    </ul>
</div>
